<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title><th:block layout:fragment="page_title"/></title>

        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}"/>
    </head>
    <body>
        <th:block th:replace="~{fragments/navbar :: fragment}"/>

        <div class="container-fluid">
            <div class="row">
                <th:block th:replace="~{fragments/sidebar :: fragment}"/>

                <main role="main" class="col-md-9 ml-auto col-lg-10 px-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                        <h1 class="h2">
                            <th:block layout:fragment="page_title"/>
                        </h1>
                    </div>

                    <th:block layout:fragment="content"/>
                </main>
            </div>
        </div>

        <script type="application/javascript" th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
        <script type="application/javascript" th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
        <script type="application/javascript" th:src="@{/webjars/momentjs/2.22.2/min/moment.min.js}"></script>
        <script type="application/javascript" th:src="@{/js/add_person.js}"></script>

    </body>
</html>
