<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

    <head>
        <title>Person Demographics</title>
    </head>

    <th:block layout:fragment="page_title">
        Person Demographics
    </th:block>

    <div layout:fragment="content">
        <h3 th:if="${#lists.isEmpty(persons)}">
            No records have been created
        </h3>

        <div th:if="${not #lists.isEmpty(persons)}"
             class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>PPSN</th>
                    <th>Date of Birth</th>
                    <th>Mobile Phone</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="person : ${persons}">
                    <td><th:block th:text="${person.name}"/></td>
                    <td><th:block th:text="${person.ppsn}"/></td>
                    <td><th:block th:text="${#temporals.format(person.dateOfBirth, 'dd/MM/yyyy')}"/></td>
                    <td><th:block th:text="${person.mobilePhone}"/></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</html>
